
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-youtube:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-gplus:before { content: '\e803'; } /* '' */
.icon-home-outline:before { content: '\e804'; } /* '' */
.icon-mail-circled:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-plus-outline:before { content: '\e807'; } /* '' */
.icon-plus-squared-alt:before { content: '\e808'; } /* '' */
.icon-user:before { content: '\e809'; } /* '' */